body 
{
    
    color: #FFFFFF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    background-image:url(../Images/Wallpaper.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-attachment:fixed;
    
}
div{
    color: #FFFFFF;
    display:inline-grid;
}

#wrapper
{
    width:100%;
    margin:auto;
    padding-bottom:2px;
    padding-top:0px;
    background-color:black;

   

}

#MainContent li
{
   color:#FFFFFF;
   padding:100px;
   font-size: 50px;
}


#navigation
{
    height:45px;
    
    float:left;
    text-align:center;
}

#nav
{
    display:inline-block;
    grid-area:auto;
    list-style:none;
    text-align:center;
}

#nav ul
{
    display:none;
    list-style:none;
}

#nav li
{
    display:inline-grid;
    margin-top: -30px;
    text-transform:uppercase;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom:10px;
    padding-top:10px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    background-color:black;
    
}
#nav a:link, #nav a:visited, #nav a:active
{
    display:block;
    color:wheat;
    text-decoration:none;
    

}

#nav a:hover
{
    background-color: chocolate;
    
    
}
#Content1 a:link, a:hover, a:active, a:link 
{
    list-style: none;
    list-style-type: none;
    list-style-image: none;
}
#content
{
    padding:20px;
    min-height: 400px;
}